<div class="container p-5">
  <h1>All lists</h1>
    <div>
      <ul>
        <% @lists.each do | list | %>
          <div class="list-item-card">
           <li><%= link_to list.name, list_path(list), class: "text-decoration-none" %></li>
          </div>
          <% end %>
      </ul>
    </div>
  <div class="p-5">
    <a href="/lists/new" class="btn btn-primary"> + Add new list</a>
  </div>
</div>
