// Specific CSS for your home-page

.container {
  height: 100%;
  margin: 0;
  padding: 5px;
  display: grid;
  justify-content: center;
}

.list-item-card {
  text-decoration: none;
}

li {
  text-decoration: none;
}
